.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.homepage-homepage {
  width: 100%;
  height: 4773px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-footer {
  top: 4152px;
  left: 0px;
  width: 1600px;
  height: 778px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.homepage-bg1 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 621px;
  position: absolute;
}
 
.homepage-content10 {
  top: 120px;
  left: 152px;
  width: 1296px;
  height: 473px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bottom {
  top: 419px;
  left: 0px;
  width: 1296px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-text10 {
  top: 30px;
  left: 436px;
  color: var(--dl-color-neutral-04);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
 
.homepage-line311 {
  top: 0px;
  left: 0px;
  width: 1296px;
  height: 1px;
  position: absolute;
}
 
.homepage-top {
  gap: 135px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.homepage-col1 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-logo1 {
  width: 211px;
  height: 55px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-japanesefood1 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 55px;
  position: absolute;
}
 
.homepage-original-logo1 {
  top: 8px;
  left: 28.5px;
  width: 182.6666717529297px;
  height: 38.66666793823242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.homepage-text11 {
  top: 4px;
  left: 41.333335876464844px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 42.66666793823242px;
  font-style: Regular;
  text-align: left;
  font-family: Patua One;
  font-weight: 400;
  line-height: 29.33333396911621px;
  font-stretch: normal;
  text-decoration: none;
}
 
.homepage-text12 {
  color: var(--dl-color-neutral-04);
  width: 293px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-social {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}
 
.homepage-frame11 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bg2 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.homepage-logotwitter2 {
  top: 12.423828125px;
  left: 11.28125px;
  width: 13.967408180236816px;
  height: 11.290321350097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-group1 {
  top: 0px;
  left: 0px;
  width: 13.967408180236816px;
  height: 11.290321350097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-vector10 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 11px;
  position: absolute;
}
 
.homepage-frame21 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bg3 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.homepage-logofbsimple2 {
  top: 10.166015625px;
  left: 13.546875px;
  width: 7.903224945068359px;
  height: 15.218616485595703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-group2 {
  top: 0px;
  left: 0px;
  width: 7.903224945068359px;
  height: 15.218616485595703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-vector11 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 15px;
  position: absolute;
}
 
.homepage-frame31 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bg4 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.homepage-logoinstagram1 {
  top: 9.0380859375px;
  left: 9.03125px;
  width: 16.935482025146484px;
  height: 16.936290740966797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-group3 {
  top: 0px;
  left: 0px;
  width: 16.935482025146484px;
  height: 16.936290740966797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-vector12 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
}
 
.homepage-vector13 {
  top: 4.1240234375px;
  left: 4.1171875px;
  width: 9px;
  height: 9px;
  position: absolute;
}
 
.homepage-vector14 {
  top: 2.93359375px;
  left: 11.984375px;
  width: 2px;
  height: 2px;
  position: absolute;
}
 
.homepage-frame41 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bg5 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.homepage-logogithub1 {
  top: 9.0380859375px;
  left: 10.1796875px;
  width: 16.199739456176758px;
  height: 15.806449890136719px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-group4 {
  top: 0px;
  left: 0px;
  width: 16.199739456176758px;
  height: 15.806449890136719px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-vector15 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.homepage-col21 {
  gap: 120px;
  display: flex;
  align-items: flex-start;
}
 
.homepage-col22 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text13 {
  color: var(--dl-color-neutral-01);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-list1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text14 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text15 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text16 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text17 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text18 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text19 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-col31 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text20 {
  color: var(--dl-color-neutral-01);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-list2 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text21 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text22 {
  color: var(--dl-color-neutral-03);
  width: 149px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text23 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text24 {
  color: var(--dl-color-neutral-03);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-col32 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text25 {
  color: var(--dl-color-neutral-01);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-img1 {
  width: 403px;
  height: 355px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-maskgroup1 {
  top: 0px;
  left: 0px;
  width: 194px;
  height: 170px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.homepage-pexelssteve37898851 {
  top: 0px;
  left: -17px;
  width: 222px;
  height: 176px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-maskgroup2 {
  top: 0px;
  left: 209px;
  width: 194px;
  height: 170px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.homepage-eilivacerond5-pb-kqj0-lu8unsplash1 {
  top: 0px;
  left: -0.22265625px;
  width: 194px;
  height: 170px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-maskgroup3 {
  top: 185px;
  left: 0px;
  width: 194px;
  height: 170px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.homepage-pexelsellaolsson16407721 {
  top: 0px;
  left: -50px;
  width: 244px;
  height: 170px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-maskgroup4 {
  top: 185px;
  left: 209px;
  width: 194px;
  height: 170px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.homepage-pexelsash3764641 {
  top: -15px;
  left: -15px;
  width: 236px;
  height: 208px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-testimonial {
  top: 3386px;
  left: 0px;
  width: 1600px;
  height: 766px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-content11 {
  gap: 64px;
  top: 98px;
  left: 152px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.homepage-title1 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text26 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: center;
  line-height: 60.5px;
}
 
.homepage-card1 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.homepage-frame12 {
  width: 416px;
  height: 408px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 248, 246, 1);
}
 
.homepage-content12 {
  gap: 32px;
  top: 45px;
  left: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text27 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text28 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: left;
  line-height: 30px;
}
 
.homepage-text29 {
  color: var(--dl-color-neutral-06);
  width: 346px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
 
.homepage-line3101 {
  width: 346px;
  height: 1px;
  opacity: 0.70;
}
 
.homepage-user1 {
  gap: 20px;
  display: flex;
  align-items: center;
}
 
.homepage-ellipse19 {
  width: 70px;
  height: 70px;
}
 
.homepage-text30 {
  gap: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text31 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text32 {
  color: var(--dl-color-neutral-06);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-frame22 {
  width: 416px;
  height: 408px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 248, 246, 1);
}
 
.homepage-content13 {
  gap: 32px;
  top: 45px;
  left: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text33 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text34 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: left;
  line-height: 30px;
}
 
.homepage-text38 {
  color: var(--dl-color-neutral-06);
  width: 346px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
 
.homepage-line3102 {
  width: 346px;
  height: 1px;
  opacity: 0.70;
}
 
.homepage-user2 {
  gap: 20px;
  display: flex;
  align-items: center;
}
 
.homepage-image1 {
  width: 70px;
  height: 70px;
}
 
.homepage-text39 {
  gap: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text40 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text41 {
  color: var(--dl-color-neutral-06);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-frame32 {
  width: 416px;
  height: 408px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 248, 246, 1);
}
 
.homepage-content14 {
  gap: 32px;
  top: 45px;
  left: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text42 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text43 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: left;
  line-height: 30px;
}
 
.homepage-text44 {
  color: var(--dl-color-neutral-06);
  width: 346px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
 
.homepage-line3103 {
  width: 346px;
  height: 1px;
  opacity: 0.70;
}
 
.homepage-user3 {
  gap: 20px;
  display: flex;
  align-items: center;
}
 
.homepage-image2 {
  width: 70px;
  height: 70px;
}
 
.homepage-text45 {
  gap: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text46 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text47 {
  color: var(--dl-color-neutral-06);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-content15 {
  top: 2519px;
  left: 0px;
  width: 1600px;
  height: 867px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bg6 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 867px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 248, 246, 1);
}
 
.homepage-content16 {
  top: 120px;
  left: 152px;
  width: 1296px;
  height: 627px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-img2 {
  top: 0px;
  left: 0px;
  width: 745px;
  height: 627px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-midshotchefholdingplatewithpastamakingoksign1 {
  top: 0px;
  left: 0px;
  width: 431px;
  height: 600px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-sourcurrywithsnakeheadfishspicygardenhotpotthaifoo {
  top: 30px;
  left: 455px;
  width: 290px;
  height: 333px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-sadjironpotwithvarioussalads1 {
  top: 387px;
  left: 455px;
  width: 290px;
  height: 240px;
  position: absolute;
  border-radius: 12px;
}
 
.homepage-text48 {
  gap: 50px;
  top: 129px;
  left: 835px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-title2 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text49 {
  color: var(--dl-color-neutral-07);
  width: 461px;
  height: auto;
  font-size: 55px;
  font-style: Medium;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 60.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.homepage-text53 {
  color: var(--dl-color-neutral-06);
  width: 414px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-features {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-frame13 {
  gap: 20px;
  display: flex;
  align-items: center;
}
 
.homepage-icon1 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 52, 62, 1);
}
 
.homepage-icon-outlineclock {
  top: 7.000147819519043px;
  left: 7.000118255615234px;
  width: 15px;
  height: 15px;
  position: absolute;
}
 
.homepage-text54 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 26px;
}
 
.homepage-frame23 {
  gap: 20px;
  display: flex;
  align-items: center;
}
 
.homepage-icon2 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 52, 62, 1);
}
 
.homepage-icon-outlinereceipttax {
  top: 7.000147819519043px;
  left: 7.000118255615234px;
  width: 15px;
  height: 15px;
  position: absolute;
}
 
.homepage-text55 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 26px;
}
 
.homepage-frame33 {
  gap: 20px;
  display: flex;
  align-items: center;
}
 
.homepage-icon3 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 52, 62, 1);
}
 
.homepage-icon-outlineshoppingcart {
  top: 7.000147819519043px;
  left: 7.000118255615234px;
  width: 15px;
  height: 15px;
  position: absolute;
}
 
.homepage-text56 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 26px;
}
 
.homepage-about {
  top: 1663px;
  left: 0px;
  width: 1600px;
  height: 856px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 248, 246, 1);
}
 
.homepage-content17 {
  gap: 90px;
  top: 120px;
  left: 152px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.homepage-img3 {
  width: 649px;
  height: 616px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-image3 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 599px;
  height: 566px;
  display: flex;
  padding: 301px 340px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: var(--dl-color-blue-100);
}
 
.homepage-image111 {
  top: -340px;
  left: -12px;
  width: 758px;
  height: 1137px;
  position: absolute;
}
 
.homepage-card2 {
  top: 295px;
  left: 238px;
  width: 411px;
  height: 321px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(71, 71, 71, 1);
}
 
.homepage-text57 {
  gap: 45px;
  top: 50px;
  left: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(71, 71, 71, 1);
}
 
.homepage-text58 {
  color: var(--dl-color-neutral-01);
  height: auto;
  text-align: left;
  line-height: 30px;
}
 
.homepage-info {
  gap: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-call {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
 
.homepage-icon-outlinephone {
  width: 24px;
  height: 24px;
}
 
.homepage-text62 {
  color: var(--dl-color-neutral-02);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-mail {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
 
.homepage-icon-outlinemail {
  width: 24px;
  height: 24px;
}
 
.homepage-text63 {
  color: var(--dl-color-neutral-02);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-location {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
 
.homepage-icon-outlinelocationmarker {
  width: 24px;
  height: 24px;
}
 
.homepage-text64 {
  color: var(--dl-color-neutral-02);
  width: 267px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-text65 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-title3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.homepage-text66 {
  color: var(--dl-color-neutral-07);
  width: 557px;
  height: auto;
  font-size: 50px;
  font-style: Medium;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 60.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.homepage-text67 {
  color: var(--dl-color-neutral-07);
  width: 557px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
 
.homepage-button1 {
  gap: 10px;
  display: flex;
  padding: 20px 32px;
  align-items: center;
  border-color: rgba(43, 46, 35, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 118px;
  justify-content: center;
}
 
.homepage-text68 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: right;
  line-height: 24px;
}
 
.homepage-menu1 {
  top: 951px;
  left: 0px;
  width: 1600px;
  height: 712px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-content18 {
  top: 92px;
  left: 152px;
  width: 1296px;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-card3 {
  gap: 24px;
  top: 125px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.homepage-frame14 {
  width: 306px;
  height: 375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-text69 {
  gap: 30px;
  top: 40px;
  left: 34px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.homepage-icon4 {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-ellipse421 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.07;
  position: absolute;
}
 
.homepage-tea1 {
  top: 25px;
  left: 26px;
  width: 48px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.homepage-group5 {
  top: 3px;
  left: 3px;
  width: 42px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-vector16 {
  top: 0px;
  left: 17px;
  width: 0px;
  height: 7px;
  position: absolute;
}
 
.homepage-vector17 {
  top: 2px;
  left: 7px;
  width: 0px;
  height: 7px;
  position: absolute;
}
 
.homepage-vector18 {
  top: 2px;
  left: 27px;
  width: 0px;
  height: 7px;
  position: absolute;
}
 
.homepage-vector19 {
  top: 20px;
  left: 34px;
  width: 8px;
  height: 12px;
  position: absolute;
}
 
.homepage-vector20 {
  top: 16px;
  left: 0px;
  width: 34px;
  height: 28px;
  position: absolute;
}
 
.homepage-vector21 {
  top: 24px;
  left: 15px;
  width: 10px;
  height: 10px;
  position: absolute;
}
 
.homepage-vector22 {
  top: 16px;
  left: 20px;
  width: 0px;
  height: 8px;
  position: absolute;
}
 
.homepage-text70 {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text71 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: center;
  line-height: 30px;
}
 
.homepage-text72 {
  color: var(--dl-color-neutral-06);
  width: 238px;
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-button-base1 {
  gap: 10px;
  width: 111px;
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
}
 
.homepage-text73 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-frame24 {
  width: 306px;
  height: 375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-text74 {
  gap: 30px;
  top: 40px;
  left: 34px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.homepage-icon5 {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-ellipse422 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.07;
  position: absolute;
}
 
.homepage-vector23 {
  top: 25px;
  left: 24px;
  width: 53px;
  height: 50px;
  position: absolute;
}
 
.homepage-text75 {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text76 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: center;
  line-height: 30px;
}
 
.homepage-text77 {
  color: var(--dl-color-neutral-06);
  width: 238px;
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-button-base2 {
  gap: 10px;
  width: 111px;
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
}
 
.homepage-text78 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-frame34 {
  width: 306px;
  height: 375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-text79 {
  gap: 30px;
  top: 40px;
  left: 34px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.homepage-icon6 {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-ellipse423 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.07;
  position: absolute;
}
 
.homepage-vector24 {
  top: 25px;
  left: 30px;
  width: 39px;
  height: 50px;
  position: absolute;
}
 
.homepage-text80 {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text81 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: center;
  line-height: 30px;
}
 
.homepage-text82 {
  color: var(--dl-color-neutral-06);
  width: 238px;
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-button-base3 {
  gap: 10px;
  width: 111px;
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
}
 
.homepage-text83 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-frame42 {
  width: 306px;
  height: 375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.homepage-text84 {
  gap: 30px;
  top: 40px;
  left: 34px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.homepage-icon7 {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-ellipse424 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.07;
  position: absolute;
}
 
.homepage-group6 {
  top: 25px;
  left: 25px;
  width: 50.18850326538086px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-vector25 {
  top: 0px;
  left: 17.877410888671875px;
  width: 11px;
  height: 11px;
  position: absolute;
}
 
.homepage-vector26 {
  top: 1.5410996675491333px;
  left: -1.4551915228366852e-11px;
  width: 50px;
  height: 48px;
  position: absolute;
}
 
.homepage-text85 {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text86 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: center;
  line-height: 30px;
}
 
.homepage-text87 {
  color: var(--dl-color-neutral-06);
  width: 238px;
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-button-base4 {
  gap: 10px;
  width: 111px;
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
}
 
.homepage-text88 {
  color: rgba(173, 52, 62, 1);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.homepage-title4 {
  gap: 20px;
  top: 0px;
  left: 423px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text89 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: center;
  line-height: 60.5px;
}
 
.homepage-hero1 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 951px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 248, 246, 1);
}
 
.homepage-content19 {
  top: 149px;
  left: 0px;
  width: 1600px;
  height: 802px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-hero2 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 802px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-bg7 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 802px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-maskgroup5 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 802px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-rectangle470 {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 802px;
  position: absolute;
}
 
.homepage-image110 {
  top: -349px;
  left: -147px;
  width: 2250px;
  height: 1500px;
  position: absolute;
}
 
.homepage-ellipse43 {
  top: 36px;
  left: 440px;
  width: 729px;
  height: 729px;
  position: absolute;
}
 
.homepage-title5 {
  gap: 40px;
  top: 207px;
  left: 467px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text90 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.homepage-text91 {
  color: var(--dl-color-neutral-07);
  width: 667px;
  height: auto;
  font-size: 100px;
  font-style: Regular;
  text-align: center;
  font-family: Poltawski Nowy;
  font-weight: 400;
  line-height: 96px;
  font-stretch: normal;
  text-decoration: none;
}
 
.homepage-text97 {
  color: var(--dl-color-neutral-07);
  width: 537px;
  height: auto;
  text-align: center;
  line-height: 32px;
}
 
.homepage-buttons {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.homepage-button2 {
  gap: 10px;
  display: flex;
  padding: 20px 32px;
  align-items: center;
  border-radius: 118px;
  justify-content: center;
  background-color: rgba(173, 52, 62, 1);
}
 
.homepage-text98 {
  color: var(--dl-color-neutral-01);
  height: auto;
  text-align: right;
  line-height: 24px;
}
 
.homepage-button3 {
  gap: 10px;
  display: flex;
  padding: 20px 32px;
  align-items: center;
  border-color: rgba(43, 46, 35, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 118px;
  justify-content: center;
}
 
.homepage-text99 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: right;
  line-height: 24px;
}
 
.homepage-header1 {
  gap: 29px;
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 129px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.homepage-header2 {
  gap: 251px;
  top: 74px;
  left: 154px;
  width: 1293px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.homepage-logo2 {
  top: -18.1982421875px;
  left: -47.5px;
  width: 257.755859375px;
  height: 73.1982421875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-japanesefood2 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 73px;
  position: absolute;
}
 
.homepage-original-logo2 {
  top: 19.1982421875px;
  left: 34px;
  width: 223.755859375px;
  height: 51.4605827331543px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.homepage-text100 {
  top: 5.323567867279053px;
  left: 50.630859375px;
  color: rgba(71, 71, 71, 1);
  height: auto;
  position: absolute;
  font-size: 42.66666793823242px;
  font-style: Regular;
  text-align: left;
  font-family: Patua One;
  font-weight: 400;
  line-height: 29.33333396911621px;
  font-stretch: normal;
  text-decoration: none;
}
 
.homepage-menu2 {
  top: 11px;
  left: 554.8888549804688px;
  width: 472.611328125px;
  height: 32.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.homepage-menu3 {
  gap: 10px;
  top: 0.5px;
  left: 0px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
  background-color: rgba(219, 223, 208, 1);
}
 
.homepage-text101 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-menu4 {
  gap: 10px;
  top: 0.5px;
  left: 85px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
}
 
.homepage-text102 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-menu5 {
  gap: 10px;
  top: 0.5px;
  left: 172px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
}
 
.homepage-text103 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-menu6 {
  gap: 10px;
  top: 0px;
  left: 257.611328125px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
}
 
.homepage-text104 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.homepage-menu7 {
  gap: 10px;
  top: 0px;
  left: 378.611328125px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
}
 
.homepage-text105 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: left;
  line-height: 24px;
}

.homepage-button4 {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.homepage-button5, .homepage-button6 {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-color: rgba(43, 46, 35, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 118px;
  justify-content: center;
}


 
.homepage-text106 {
  color: var(--dl-color-neutral-07);
  height: auto;
  text-align: right;
  line-height: 24px;
}
